// ! Colors
$c-white: #ffffff;
$c-black: #000000;
$c-grey: #474849;
$c-violet: #4c56dd;
$c-violet-dark: #383b61;
$c-violet-light: #eaebf6;

// ! FontSize
$fs-h1: 48px;
$fs-h2: 38px;
$fs-h3: 28px;
$fs-h4: 18px;
$fs-base: 14px;

// ! FontFamily
$ff-main: 'Inter', sans-serif;

// ! FontWeight
$fw-normal: 400;
$fw-bold: 700;
